<div class="wrapper-md">
  <div ng-controller="FormDemoCtrl">
    <div class="row">
      <div class="col-sm-12">
        <form name="form" class="form-validation">
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="h4">Donate to </span>
              <img src="img/sml.png" width="200px" alt="savemillionlives">
            </div>
            <div class="panel-body">
              
                <div class="form-group">
                    <label>Amount </label>
                    <input type="number" class="form-control" ng-model="user.amount" required >
                  </div>
              <div class="checkbox">
                <label class="i-checks">
                  <input type="checkbox" ng-model="agree" required><i></i> I agree to the <a href class="text-info">Terms of Service</a>
                </label>
              </div>
            </div>
            <footer class="panel-footer text-right bg-light lter">
              <button type="submit" class="btn btn-success" ng-disabled="form.$invalid">Submit</button>
            </footer>
          </div>
        </form>
      </div>
    
    </div>
  </div>
</div>